<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form #customerForm="ngForm" (ngSubmit)="save()">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="firstNameId"
                 name="firstName"
                 type="text"
                 required
                 minlength="3"
                 [(ngModel)]="customer.firstName"
                 #firstNameVar="ngModel"
                 [ngClass]="{'is-invalid': firstNameVar.touched && !firstNameVar.valid }"
                 placeholder="First Name (required)"
                 />
          <span class="invalid-feedback">
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="lastNameId"
                 name="lastName"
                 type="text"
                 required
                 minlength="3"
                 [(ngModel)]="customer.lastName"
                 #lastNameVar="ngModel"
                 [ngClass]="{'is-invalid': lastNameVar.touched && !lastNameVar.valid }"
                 placeholder="Last Name (required)"/>
          <span class="invalid-feedback">
          </span>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="emailId">Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="emailId"
                   name="email"
                   type="email"
                   maxlength="25"
                   required
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   [(ngModel)]="customer.email"
                   #emailVar="ngModel"
                   [ngClass]="{'is-invalid': emailVar.touched && !emailVar.valid }"
                   placeholder="Email (required)"/>
            <span class="invalid-feedback">
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="confirmEmailId">Confirm Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="confirmEmailId"
                   type="email"
                   placeholder="Confirm Email (required)"
                   />
            <span class="invalid-feedback">
              
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="phoneId">Phone</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="phoneId"
                 type="tel"
                 placeholder="Phone"
                 />
          <span class="invalid-feedback">
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Send Notifications</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input name="notificationType"
                     class="form-check-input"
                     type="radio"
                     value="email"
                     [(ngModel)]="customer.sendNotification"
                     required
                     >Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input name="notificationType"
                     class="form-check-input"
                     type="radio"
                     value="text"
                     [(ngModel)]="customer.sendNotification"
                     required
                     >Text
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="ratingId">Rating</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="ratingId"
                 type="number"
                 min="1"
                 max="10"
                 name="rating"
                 [(ngModel)]="customer.rating"
                 #ratingVar="ngModel"
                 [ngClass]="{'is-invalid': ratingVar.touched && !ratingVar.valid }"
                 />
          <span class="invalid-feedback">
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="sendCatalogId"
                     type="checkbox">Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <!-- <div >
        <div formArrayName="addresses">

        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button class="btn btn-outline-primary"
                    type="button"
                   >
              Add Another Address
            </button>
          </div>
        </div>
      </div> -->

      <div class="form-group row mb-2">
        <div class="col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [disabled]="customerForm.invalid"
                  >
            Save
          </button>
          <!-- <button class="btn btn-outline-secondary"
                  type="button"
                 >
            Test Data
          </button> -->
        </div>
      </div>
    </form>
  </div>
</div>
