<nav class='navbar navbar-expand navbar-dark bg-dark'>
  <img src="../assets/images/logo.nav.png" alt="">
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/products'>Product List</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/warehouse'>Warehouse</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/customer'>Customer</a></li>
  </ul>
</nav>
<div class='container mt-5'>
  <router-outlet></router-outlet>
</div>
